@font-face {
  font-family: nicefont;
  src: url(Roboto-Bold.ttf);
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 98vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: start;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr
}

.blobText-wrapper {
  height: 11em;
  background-color: #fff;
  padding: 3em;
  filter: contrast(40);
  transition: filter 1s ease-in-out 0.3s;
}

.blobText {
  letter-spacing:  0.04em;
  height: 1.5em;
  font-family: 'nicefont','Roboto', sans-serif;
  font-size: 10em;
  font-weight: 900;
  color: #000;
  background-color: #ffffff00;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  animation: blobbify 0.75s linear forwards;
}

.blobText.blobby {
  animation: unblobbify 0.75s linear forwards;
}

#blobText3, #blobText4 {
  animation: blobbify2 0.75s linear forwards;
}

#blobText3.blobby, #blobText4.blobby {
  animation: unblobbify2 0.75s linear forwards;
}

.blobText.second {
  top: -1.5em;
  z-index: 0;
}


@keyframes blobbify
{
  0%  {filter:                     blur(0px);   z-index: 1; letter-spacing:  0.04em;}
  10% {filter:                     blur(4px);   z-index: 1; letter-spacing:  0.03em;}
  20% {filter:  url("#squiggly-8") blur(8px);   z-index: 1; letter-spacing:  0.02em;}
  30% {filter:  url("#squiggly-7") blur(10px);  z-index: 1; letter-spacing:  0.01em;}
  40% {filter:  url("#squiggly-6") blur(12px);  z-index: 1; letter-spacing: -0.01em;}
  50% {filter:  url("#squiggly-5") blur(12px);  z-index: 0; letter-spacing: -0.02em;}
  60% {filter:  url("#squiggly-4") blur(12px);  z-index: 0; letter-spacing: -0.05m;  transform: scale(1,0.9);}
  70% {filter:  url("#squiggly-3") blur(12px);  z-index: 0; letter-spacing: -0.1em;  transform: scale(1,0.72);}
  80% {filter:  url("#squiggly-2") blur(12px);  z-index: 0; letter-spacing: -0.15em; transform: scale(1,1.4); opacity: 0.8;}
  90% {filter:  url("#squiggly-1") blur(12px);  z-index: 0; letter-spacing: -0.18em; transform: scale(1,1.2); opacity: 0.3}
  100% {filter: url("#squiggly-0") blur(13px);  z-index: 0; letter-spacing: -0.30em; transform: scale(1,0.55);opacity: 0;}
}

@keyframes unblobbify {
  0% {filter:   url("#squiggly-0") blur(13px);  z-index: 0; letter-spacing: -0.30em; transform: scale(1,0.55);opacity: 0;}
  10% {filter:  url("#squiggly-1") blur(12px);  z-index: 0; letter-spacing: -0.18em; transform: scale(1,1.2); opacity: 0.3}
  20% {filter:  url("#squiggly-2") blur(12px);  z-index: 0; letter-spacing: -0.15em; transform: scale(1,1.4); opacity: 0.8;}
  30% {filter:  url("#squiggly-3") blur(12px);  z-index: 0; letter-spacing: -0.1em;  transform: scale(1,0.72);}
  40% {filter:  url("#squiggly-4") blur(12px);  z-index: 0; letter-spacing: -0.05em; transform: scale(1,0.9);}
  50% {filter:  url("#squiggly-5") blur(12px);  z-index: 0; letter-spacing: -0.02em;}
  60% {filter:  url("#squiggly-6") blur(12px);  z-index: 1; letter-spacing: -0.01em;}
  70% {filter:  url("#squiggly-7") blur(10px);  z-index: 1; letter-spacing:  0.01em;}
  80% {filter:  url("#squiggly-8") blur(8px);   z-index: 1; letter-spacing:  0.02em;}
  90% {filter:                     blur(4px);   z-index: 1; letter-spacing:  0.03em;}
  100% {filter:                    blur(0px);   z-index: 1; letter-spacing:  0.04em;} 
}